body {
  margin: 0;
  padding: 0;
  background: url(img/new-black-charity-water-background.png);
  background-size: auto 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#gameCanvas {
    background:url(img/Overhead-RoyaltyFree-Desert-Environment.jpg);
    border: #fff9e9 8px solid;
    border-radius: 15px;
    background-size: 150% 150%; /* makes the image 20% larger */
    background-size: cover;
    background-repeat: no-repeat;
}